<?php
if($type == 1){
?>
<br><br>
    <div class="container text-danger">
        <div class="alert alert-danger text-center ">
            <b class="h3" align="center">Ops!<br/> Esta página não existe. </b>
        </div>
        <a class="btn btn-danger" href="<?=URL . DEFAULT_CONTROLLER; ?>">Ir para página inicial</a>
    </div>
<?php
}elseif($type==2){
?>
<br><br>
<div class="container text-danger">
    <div class="alert alert-danger text-center ">
        <b class="h3" align="center"><?= @$msg?></b>
    </div>
    <a class="btn btn-danger" href="<?= URL . @$page; ?>">Voltar</a>
</div>
<?php
}
?>
<br><br><br><br>
