<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Dashboard</h2>
        <hr>
        <a class="btn btn-primary btn-sm float-right" href="<?=URL . 'products/add'; ?>">Adicionar Produto</a>
        <br/><br/>
        <?php if(@$_GET['msg']): ?>
            <br/>
            <div class="alert alert-success">
                <?php if(@$_GET['msg']): ?>
                    Produto editado com sucesso!
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <div class="col-md-3">
            <div class="card mt-6">
                <div class="card-header">
                    <b>Filtros</b>
                </div>
                <div class="card-body">
                    <form action="<?= URL; ?>dashboard" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="sku">SKU</label>
                                <input type="text" class="form-control" id="sku" name="sku" value="<?= @$_POST['sku']?>">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="product_name">Nome do Produto</label>
                                <input type="text" class="form-control" id="product_name" name="product_name" value="<?= @$_POST['product_name']?>">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="product_category">Categoria</label>
                                <select class="form-control" id="product_category" name="product_category[]" multiple>
                                    <?php foreach (@$pageData['categories'] as $category) { ?>
                                        <option value="<?= $category->category_id?>" <?php if(in_array($category->category_id, @$_POST['product_category']??array())) echo 'selected' ?>><?= $category->category_name?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <?php if(@empty($pageData['allProducts'])): ?>
                <td colspan="7" align="center">
                    Não há registros
                </td>
            <?php else:?>
                <?php foreach (@$pageData['allProducts'] as $produto) { ?>
                    <a href="<?= URL . 'products/view/'.@$produto->sku?>">
                        <div class="col-md-4 mt-6">
                            <div class="card card-product">
                                <center>
                                    <img class="card-img-top img-responsive image-product" src="<?=@$produto->product_img?>" alt="...">
                                </center>
                                <div class="card-body">
                                    <h5 class="card-title"><?= @$produto->product_name; ?></h5>
                                    <div class="product-list-dashboard">
                                    <span class="product-quantity">
                                        <?= @$produto->product_qty; ?> <?php if(@$produto->product_qty == 1) echo "Disponível"; else echo "Disponíveis"?> <br/>
                                    </span>
                                        <span>
                                        R$<?= @$produto->product_price; ?>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                <?php } ?>
            <?php endif?>
            <div class="col-md-12">
                <div class="text-right mt-4 product-total">
                    <b>Total de Produtos: <?= @$pageData['totalRecords']; ?></b>
                </div>
            </div>
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'dashboard&page=1'; else echo '#'?>">Primeira Página</a></li>
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'dashboard&page='.@$pageData['previousPage']; else echo '#'?>">Anterior</a></li>
                        <?php
                        for ($i=@$pageData['initialRange']; $i <= @$pageData['finalRange']; $i++):
                            $active = ($i == @$pageData['currentPage']) ? 'active' : '' ;
                            ?>
                            <li class="page-item <?=$active?>"><a class="page-link" href="<?= URL.'dashboard&page='.$i?>"><?=$i?></a></li>
                        <?php endfor; ?>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'dashboard&page='.@$pageData['nextPage']; else echo '#'?>">Próxima</a></li>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'dashboard&page='.@$pageData['lastPage']; else echo '#'?>">Última Página</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>