</main>
<!-- Main Content -->

<!-- Footer -->
<footer>
    <div class="footer-image">
        <img src="<?=URL?>assets/images/logo.png" width="70" alt="Rodrigo" />
    </div>
    <div class="email-content">
        <span>oliveiras.rodrigo1@gmail.com</span>
    </div>
</footer>
<!-- Footer -->
</body>
</html>

