<div class="container">
    <h2 class="text-center">Adicionar Categoria</h2>
    <hr>
    <small class="text-danger float-right">Campos em vermelho, são obrigatórios</small>
    <div>
        <br>
        <form action="<?= URL; ?>categories/add" method="POST">
            <?php if(@$response): ?>
                <div class="alert alert-<?= @$response['type']?>">
                    <?= @$response['msg']?><br/>
                </div>
            <?php endif; ?>
            <div class="form-group">
                <label for="category_name" class="text-danger">Nome da Categoria</label>
                <input required type="text" class="form-control" name="category_name" id="category_name" value="<?php if(@$response['status'] == 'error') echo @$_POST['category_name']?>" maxlength="255">
            </div>
            <input type="submit" name="submit_add_categories" value="Adicionar Categoria" class="btn btn-info btn-sm"/>
            <a class="btn btn-danger btn-sm" href="<?=URL . 'categories'; ?>">Cancelar</a>
        </form>
    </div>
</div>