<div class="container">
    <h2 class="text-center">Editar Categoria</h2>
    <hr>
    <small class="text-danger float-right">Campos em vermelho, são obrigatórios</small>
    <div>
        <br>
        <form action="<?= URL; ?>categories/edit/<?= @$register->category_id?>" method="POST">
            <?php if(@$response): ?>
                <div class="alert alert-<?= @$response['type']?>">
                    <?= @$response['msg']?><br/>
                </div>
            <?php endif; ?>
            <input required type="hidden" name="category_id" id="category_id" value="<?= @$register->category_id?>" maxlength="255">
            <div class="form-group">
                <label for="category_name" class="text-danger">Nome da Categoria</label>
                <input required type="text" class="form-control" name="category_name" id="category_name" value="<?php echo @$_POST['category_name'] ?? @$register->category_name?>" maxlength="255">
            </div>
            <input type="submit" name="submit_update_categories" value="Editar Categoria" class="btn btn-info btn-sm"/>
            <a class="btn btn-danger btn-sm" href="<?=URL . 'categories'; ?>">Cancelar</a>
        </form>
    </div>
</div>