<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Categorias</h2>
        <hr>
        <a class="btn btn-primary btn-sm float-right" href="<?=URL . 'categories/add'; ?>">Adicionar Categoria</a>
        <br/><br/>
        <?php if(@$_GET['msg']): ?>
            <br/>
            <div class="alert alert-success">
                <?php if(@$_GET['msg'] == 1): ?>
                    Categoria editada com sucesso!
                <?php elseif(@$_GET['msg'] == 2):?>
                    Categoria criada com sucesso!
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <div class="col-md-3">
            <div class="card mt-6">
                <div class="card-header">
                    <b>Filtros</b>
                </div>
                <div class="card-body">
                    <form action="<?= URL; ?>categories" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="category_name">Nome da Categoria</label>
                                <input type="text" class="form-control" id="category_name" name="category_name" value="<?= @$_POST['category_name']?>">
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <table class="table table-hover table-stripped mt-5">
                    <thead>
                    <tr class="bg-gray">
                        <td align="center"><b>Nome da Categoria</b></td>
                        <td align="center"><b>Criado em</b></td>
                        <td align="center"><b>Atualizado em</b></td>
                        <td colspan="2" align="center" width="11%"><b>Ações</b></td>
                    </tr>
                    </thead>
                    <tbody>
                        <?php if(@empty($pageData['allCategories'])): ?>
                            <td colspan="3" align="center">
                                Não há registros
                            </td>
                        <?php else:?>
                            <?php foreach (@$pageData['allCategories'] as $category) { ?>
                                <tr>
                                    <td align="center"><?= @$category->category_name; ?></td>
                                    <td align="center"><?= date_format(date_create(@$category->created_on), 'd-m-Y H:i') ?></td>
                                    <td align="center"><?= date_format(date_create(@$category->updated_on), 'd-m-Y H:i') ?></td>
                                    <td align="center">
                                        <a class="icon" title="Editar" href="<?= URL . 'categories/edit/'.@$category->category_id?>">
                                            <img src="<?= URL.'assets/images/actions/edit.png'?>">
                                        </a>
                                        <a class="icon" title="Apagar"  onclick="deleteCategory('<?= @$category->category_id?>', '<?= @$category->category_name?>')">
                                            <img src="<?= URL.'assets/images/actions/delete.png'?>">
                                        </a>
                                    </td>
                                </tr>
                            <?php } ?>
                        <?php endif?>
                    </tbody>
                </table>
                <div class="text-right"><b>Total de Categorias: <?= @$pageData['totalRecords']; ?></b></div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'categories&page=1'; else echo '#'?>">Primeira Página</a></li>
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'categories&page='.@$pageData['previousPage']; else echo '#'?>">Anterior</a></li>
                        <?php
                        for ($i=@$pageData['initialRange']; $i <= @$pageData['finalRange']; $i++):
                            $active = ($i == @$pageData['currentPage']) ? 'active' : '' ;
                            ?>
                            <li class="page-item <?=$active?>"><a class="page-link" href="<?= URL.'categories&page='.$i?>"><?=$i?></a></li>
                        <?php endfor; ?>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'categories&page='.@$pageData['nextPage']; else echo '#'?>">Próxima</a></li>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'categories&page='.@$pageData['lastPage']; else echo '#'?>">Última Página</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    <?php if(@$_GET['msg'] || strpos(@$_GET['url'], 'delete') !== false): ?>
        window.history.pushState('<?=APP_TITLE?>', '<?=APP_TITLE?> | <?= $pageData['pageTitle']??''?>', '<?= URL.'categories'?>');
    <?php endif; ?>

    <?php if(@$pageData['response']['status']): ?>
        Swal.fire({
            title: '<?= @$pageData['response']['msg']?>',
            icon: '<?= @$pageData['response']['type']?>',
        })
    <?php endif; ?>

    function deleteCategory(category_id, category_name){
        Swal.fire({
            title: 'Você realmente deseja excluir a categoria '+category_name+'?',
            text: "Caso deseje excluir, esse registro será excluído permanentemente",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Apagar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "<?= URL . 'categories/delete/'?>"+category_id;
            }
        })
    }
</script>