<div class="container">
    <h2 class="text-center">Adicionar Produto</h2>
    <hr>
    <small class="text-danger float-right">Campos em vermelho, são obrigatórios</small>
    <div>
        <br>
        <form action="<?= URL; ?>products/add" method="POST" enctype="multipart/form-data">
            <?php if(@$response): ?>
                <div class="alert alert-<?= @$response['type']?>">
                    <?= @$response['msg']?><br/>
                </div>
            <?php endif; ?>
            <div class="form-group">
                <label for="sku" class="text-danger">SKU</label>
                <input required type="text" class="form-control" name="sku" id="sku" value="<?php if(@$response['status'] == 'error') echo @$_POST['sku']?>" maxlength="50">
            </div>
            <div class="form-group">
                <label for="product_name" class="text-danger">Nome do Produto</label>
                <input required type="text" class="form-control" name="product_name" id="product_name" value="<?php if(@$response['status'] == 'error') echo @$_POST['product_name']?>" maxlength="255">
            </div>
            <div class="form-group">
                <label for="product_price" class="text-danger">Preço</label>
                <input required type="text" class="form-control" name="product_price" id="product_price" data-affixes-stay="true" value="<?php if(@$response['status'] == 'error') echo @$_POST['product_price']?>" maxlength="15">
            </div>
            <div class="form-group">
                <label for="product_qty" class="text-danger">Quantidade</label>
                <input required type="number" class="form-control" name="product_qty" id="product_qty" value="<?php if(@$response['status'] == 'error') echo @$_POST['product_qty']?>" maxlength="15">
            </div>
            <div class="form-group">
                <label for="product_category">Categorias</label>
                <select class="form-control" id="product_category" name="product_category[]" multiple>
                    <?php foreach (@$pageData['categories'] as $category) { ?>
                        <option value="<?= $category->category_id?>" <?php if(in_array($category->category_id, $_POST['product_category']??array())) echo 'selected' ?>><?= $category->category_name?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="form-group">
                <label for="product_description" class="text-danger">Descrição do Produto</label>
                <textarea required class="form-control" id="product_description" name="product_description" rows="8">
                    <?php if(@$response['status'] == 'error') echo htmlspecialchars(@$_POST['product_description']??'', ENT_QUOTES, 'UTF-8')?>
                </textarea>
            </div>
            <div class="form-group">
                <label for="product_img">Imagem</label>
                <input type="file" accept="image/*" class="form-control" name="product_img" id="product_qty">
            </div>
            <input type="submit" name="submit_add_products" value="Adicionar Produto" class="btn btn-info btn-sm"/>
            <a class="btn btn-danger btn-sm" href="<?=URL . 'products'; ?>">Cancelar</a>
        </form>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="<?=URL.'vendor/ckeditor/ckeditor/ckeditor.js'?>"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/plentz/jquery-maskmoney@master/dist/jquery.maskMoney.min.js" type="text/javascript"></script>
<script>
    CKEDITOR.replace('product_description', {
        height: 200,
    });
    $(function() {
        $('#product_price').maskMoney();
    })
</script>