<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Produtos</h2>
        <hr>
        <a class="btn btn-primary btn-sm float-right" href="<?=URL . 'products/add'; ?>">Adicionar Produto</a>
        <br/><br/>
        <?php if(@$_GET['msg']): ?>
            <br/>
            <div class="alert alert-success">
                <?php if(@$_GET['msg']): ?>
                    Produto editado com sucesso!
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <div class="col-md-3">
            <div class="card mt-6">
                <div class="card-header">
                    <b>Filtros</b>
                </div>
                <div class="card-body">
                    <form action="<?= URL; ?>products" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="sku">SKU</label>
                                <input type="text" class="form-control" id="sku" name="sku" value="<?= @$_POST['sku']?>">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="product_name">Nome do Produto</label>
                                <input type="text" class="form-control" id="product_name" name="product_name" value="<?= @$_POST['product_name']?>">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="product_category">Categoria</label>
                                <select class="form-control" id="product_category" name="product_category[]" multiple>
                                    <?php foreach (@$pageData['categories'] as $category) { ?>
                                        <option value="<?= $category->category_id?>" <?php if(in_array($category->category_id, @$_POST['product_category']??array())) echo 'selected' ?>><?= $category->category_name?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <table class="table table-hover table-stripped mt-5">
                    <thead>
                    <tr class="bg-gray">
                        <td width="10%" align="center"><b>SKU</b></td>
                        <td align="center"><b>Nome do Produto</b></td>
                        <td width="10%" align="center"><b>Preço</b></td>
                        <td align="center"><b>Quantidade</b></td>
                        <td align="center"><b>Categorias</b></td>
                        <td colspan="2" align="center" width="11%"><b>Ações</b></td>
                    </tr>
                    </thead>
                    <tbody>
                        <?php if(@empty($pageData['allProducts'])): ?>
                            <td colspan="7" align="center">
                                Não há registros
                            </td>
                        <?php else:?>
                            <?php foreach (@$pageData['allProducts'] as $produto) { ?>
                                <tr>
                                    <td align="center"><?= @$produto->sku; ?></td>
                                    <td align="center"><?= @$produto->product_name; ?></td>
                                    <td align="center"><?= "R$ ".number_format(@$produto->product_price, 2, ',', '.'); ?></td>
                                    <td align="center"><?= @$produto->product_qty; ?></td>
                                    <td align="center"><?= @$produto->product_categories_name; ?></td>
                                    <td align="center">
                                        <a class="icon" title="Visualizar" href="<?= URL . 'products/view/'.@$produto->sku?>">
                                            <img src="<?= URL.'assets/images/actions/view.png'?>">
                                        </a>
                                        <a class="icon" title="Editar" href="<?= URL . 'products/edit/'.@$produto->sku?>">
                                            <img src="<?= URL.'assets/images/actions/edit.png'?>">
                                        </a>
                                        <a class="icon" title="Apagar"  onclick="deleteProduct('<?= @$produto->sku?>')">
                                            <img src="<?= URL.'assets/images/actions/delete.png'?>">
                                        </a>
                                    </td>
                                </tr>
                            <?php } ?>
                        <?php endif?>
                    </tbody>
                </table>
                <div class="text-right"><b>Total de Produtos: <?= @$pageData['totalRecords']; ?></b></div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'products&page=1'; else echo '#'?>">Primeira Página</a></li>
                        <li class="page-item <?php if(!@$pageData['showFirstButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showFirstButton']) echo URL.'products&page='.@$pageData['previousPage']; else echo '#'?>">Anterior</a></li>
                        <?php
                        for ($i=@$pageData['initialRange']; $i <= @$pageData['finalRange']; $i++):
                            $active = ($i == @$pageData['currentPage']) ? 'active' : '' ;
                            ?>
                            <li class="page-item <?=$active?>"><a class="page-link" href="<?= URL.'products&page='.$i?>"><?=$i?></a></li>
                        <?php endfor; ?>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'products&page='.@$pageData['nextPage']; else echo '#'?>">Próxima</a></li>
                        <li class="page-item <?php if(!@$pageData['showLastButton']) echo 'disabled'?>"><a class="page-link" href="<?php if(@$pageData['showLastButton']) echo URL.'products&page='.@$pageData['lastPage']; else echo '#'?>">Última Página</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    <?php if(@$_GET['msg'] || strpos(@$_GET['url'], 'delete') !== false): ?>
    window.history.pushState('<?=APP_TITLE?>', '<?=APP_TITLE?> | <?= $pageData['pageTitle']??''?>', '<?= URL.'products'?>');
    <?php endif; ?>

    <?php if(@$pageData['response']['status']): ?>
    Swal.fire({
        title: '<?= @$pageData['response']['msg']?>',
        icon: '<?= @$pageData['response']['type']?>',
    })
    <?php endif; ?>

    function deleteProduct(sku){
        Swal.fire({
            title: 'Você realmente deseja excluir o produto (SKU '+sku+')?',
            text: "Caso deseje excluir, esse registro será excluído permanentemente",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Apagar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "<?= URL . 'products/delete/'?>"+sku;
            }
        })
    }
</script>