
<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <a href="<?= URL . 'products'?>" class="btn btn-primary">
                        <img src="<?= URL.'assets/images/actions/back.png'?>" class="img-white"> Voltar para lista de produtos
                    </a>
                </div>
                <div class="col-md-12">
                    <?php if(@$_GET['msg'] == 1): ?>
                        <div class="alert alert-success mt-4">
                            Produto criado com sucesso!
                        </div>
                    <?php endif; ?>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-5">
                        <center>
                            <img class="card-img-top img-responsive" width="300px" src="<?=@$register->product_img?>">
                        </center>
                    </div>
                    <div class="col-md-8 mt-5">
                        <small>SKU: <?= @$register->sku?></small>
                        <div class="product-title"><?= @$register->product_name?></div>
                        <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                        <hr>
                        <div class="product-price">R$ <?= @$register->product_price?></div>
                        <div class="text-info mt-3">Quantidade: <?= @$register->product_qty?> </div>
                        <hr>
                        <div class="btn-group cart">
                            <a href="<?= URL . 'products/edit/'.$register->sku?>" class="btn btn-success">
                                Editar Produto
                            </a>
                        </div>
                        <div class="btn-group wishlist">
                            <a onclick="deleteProduct('<?= @$register->sku?>')" class="btn btn-danger">
                                Apagar Produto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#product" data-toggle="tab">Descrição</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="product">
                        <section class="container product-info">
                            <?= @$register->product_description?>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    <?php if(@$_GET['msg']): ?>
        window.history.pushState('<?=APP_TITLE?>', '<?=APP_TITLE?> | <?= $pageData['pageTitle']??''?>', '<?= URL.'products/view/'.@$register->sku?>');
    <?php endif; ?>
    function deleteProduct(sku){
        Swal.fire({
            title: 'Você realmente deseja excluir o produto (SKU '+sku+')?',
            text: "Caso deseje excluir, esse registro será excluído permanentemente",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Apagar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "<?= URL . 'products/delete/'?>"+sku;
            }
        })
    }
</script>